.cityNamesCont {
    overflow: scroll;
    position: absolute;
    background-color: rgb(63, 63, 63);
    /* top:100vh; */
    left: 0;
    width: 110%;
    height: 68vh;
    
    padding-left: .5em;
}

.alphabetLetter {
    color: gray;
    padding-top: 2em;
    border-bottom: 1px solid rgb(85, 85, 85);
}

.cityName{

    padding-top: .5em;
    padding-bottom: .5em;
    border-bottom: 1px solid rgb(85, 85, 85);
    /* border-bottom: 1px solid yellow; */
}